<!-- service-dialog.component.html -->
<h1 class="center" mat-dialog-title>{{ isEdit ? 'Edytuj' : 'Dodaj' }} Usługe</h1>

<div mat-dialog-content>
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nazwa usługi</mat-label>
          <input matInput formControlName="serviceName" required />
          <mat-error>Nazwa usługi jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Czas trwania usługi (15 minut)</mat-label>
          <input matInput formControlName="serviceSpan" type="number" required />
          <mat-error>Czas trwania usługi jest wymagany</mat-error>
          <mat-error>Czas trwania usługi musi byc większy niż 0</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Koszt usługi</mat-label>
          <input matInput formControlName="servicePrice" type="number" required />
          <mat-error>Koszt usługi jest wymagany</mat-error>
          <mat-error>Koszt usługi musi byc większy niż 0</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Kategoria usługi</mat-label>
          <mat-select formControlName="serviceCategoryID" required>
            <mat-option *ngFor="let category of categories" [value]="category.serviceCategoryId">
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
          <mat-error>Kategoria usługi jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Opis usługi</mat-label>
          <textarea matInput formControlName="serviceDescription" rows="2" required></textarea>
          <mat-error>Opis usługi jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div class="center" mat-dialog-actions>
  <button mat-flat-button (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="serviceForm.invalid">Zapisz</button>
</div>
