/* TODO
  przerobić scrolle na 
  
  max-height: 80%;
  overflow-y: scroll
*/


#place_content {
  width: 100%;
  height: 60%;
  display: flex;
}

#rightPanel {
  padding: 1rem;
  width: 50%;
}

#leftPanel {
  padding: 1rem;
  width: 90%;
}


#mapp {
  width: 100%;
  height: 60%;
  margin: auto;
  margin-top: 1rem;
}

#resumeCard {
  width: 100%;
  height: 70%;
  margin-top: 1rem;
}

#refreshButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 5000;
}

.scrollable-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-height: calc(13 * 50px);
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.time-slot {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hovered {
  background-color: #cce5ff;
  color: #0056b3;
}

.disabled {
  background-color: #e0e0e0;
  color: #888;
  pointer-events: none;
  opacity: 0.6;
}

.invisible {
  visibility: hidden;
}

.time-slot:has(input:checked) {
  /* background-color: gold; */
  border: 4px gold solid;
}

.stepper {
  width: 1200px;
}

.mat-step {
  margin: auto;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

/* STL */
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: orange;
  color: black;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: orange;
  color: black;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

::ng-deep .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: orange !important;
  background-color: orange !important;
}

::ng-deep .mdc-form-field .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important;
  /*click effect color change*/
  background-color: gold !important;
}

::ng-deep .mdc-radio__background .mdc-radio__outer-circle {
  background-color: black !important;
  border-color: orange !important;
  /*inner circle color change*/
}

::ng-deep .mdc-radio__background .mdc-radio__inner-circle {
  border-color: gold !important;
  /*outer ring color change*/
}