<!-- opening-hours-dialog.component.html -->
<h1 class="center" mat-dialog-title>{{ isEdit ? 'Edytuj' : 'Dodaj' }} Godziny otwarcia</h1>

<div mat-dialog-content>
  <form [formGroup]="openingHoursForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Salon</mat-label>
          <mat-select formControlName="salonID" required>
            <mat-option *ngFor="let salon of salons" [value]="salon.salonID">
              {{ salon.salonName }}
            </mat-option>
          </mat-select>
          <mat-error>Salon jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Dzień tygodnia</mat-label>
          <input matInput formControlName="weekday" type="number" required />
          <mat-error>Dzień tygodnia jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Godzina otwarcia</mat-label>
          <input matInput formControlName="openingHour" type="time" required />
          <mat-error>Godzina otwarcia jest wymagana
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Godzina zamknięcia</mat-label>
          <input matInput formControlName="closingHour" type="time" required />
          <mat-error>Godzina zamknięcia jest wymagany
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div class="center" mat-dialog-actions>
  <button mat-flat-button (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="openingHoursForm.invalid">Zapisz</button>
</div>
