<!-- opening-hours-dialog.component.html -->
<h1 mat-dialog-title>{{ isEdit ? 'Edit' : 'Create' }} Opening Hours</h1>

<div mat-dialog-content>
  <form [formGroup]="openingHoursForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Salon</mat-label>
          <mat-select formControlName="salonID" required>
            <mat-option *ngFor="let salon of salons" [value]="salon.salonID">
              {{ salon.salonName }}
            </mat-option>
          </mat-select>
          <mat-error>Salon is required</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Weekday</mat-label>
          <input matInput formControlName="weekday" type="number" required />
          <mat-error>Weekday is required</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Opening Hour</mat-label>
          <input matInput formControlName="openingHour" type="time" required />
          <mat-error>Opening hour is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Closing Hour</mat-label>
          <input matInput formControlName="closingHour" type="time" required />
          <mat-error>Closing hour is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="openingHoursForm.invalid">Save</button>
</div>
