<div id="background">
  <div id="form">
    <form [formGroup]="forgotten_passwordForm" (ngSubmit)="onSubmit()">
      <h3>Zmień hasło</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
          @if (forgotten_passwordForm.get('email')?.invalid) {
          <mat-error>{{errorMessage(forgotten_passwordForm.get('email')?.errors,'Email')}}</mat-error>
          }
        </mat-form-field>
      </p>
      <div class="example-button-row">
        <button (click)="lostPassword()" mat-flat-button>Wyślij</button>
      </div>

    </form>

  </div>

</div>
