#body{
    display: inline-flex;
    padding: 1rem;
}

#map{
    height: 55vh;
    width: 55vw;
}

#locals{
    padding: 1rem;
    width: 40vw;
}

#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 5000;
  }

