<div id="body">



  <div id="map">
    <!-- <button (click)="centerMap()" id="refreshButton">Reset mapy</button> -->
  </div>


  <div id="locals">

    <h3>Lokale:</h3>
    <mat-button-toggle-group appearance="legacy">
      <mat-list class="scrollable-list">
        @for (salon of salonService.salons; track $index) {
        <mat-list-item lines="4">
          <span matListItemTitle>{{salon.salonCity}}</span>
          <span matListItemLine>{{salon.salonStreet}}</span>
          @if (avgRatingsMap.get(salon.salonID) && ratingsMap.get(salon.salonID)) {
          <div class="rating_container" matListItemLine>

            <span>
              <mat-icon fontIcon="star"> </mat-icon>
              {{avgRatingsMap.get(salon.salonID).averageRating | number : '1.0-2'}}
              <span (click)="showRatings(salon.salonID)">Zobacz opinie</span>
            </span>

          </div>
          }
          <mat-button-toggle matListItemLine [checked]="salon.checked"
            (click)="selectPlace([salon.longitude,salon.latitude],$index)" value="bold">Wybierz
          </mat-button-toggle>
        </mat-list-item>

        }
      </mat-list>
    </mat-button-toggle-group>

    <div class="example-button-row">
      <!-- TODO nw czy disabled jest dobrze -->
      <button [disabled]="!checkedPlace" [routerLink]="'/place/'+checkedPlace" mat-stroked-button>Umów się w
        lokalu</button>
    </div>

  </div>

</div>
