<div id="body">



  <div id="map">
    <button (click)="centerMap()" id="refreshButton">Reset mapy</button>
  </div>


  <div id="locals">

    <h3>Lokale:</h3>
    <mat-button-toggle-group appearance="legacy">
      <mat-list class="scrollable-list">
        @for (salon of salonService.salons; track $index) {
        <mat-list-item>
          <span matListItemTitle>{{salon.salonCity}}</span>
          <span matListItemLine>{{salon.salonStreet}}</span>
          <mat-button-toggle [checked]="salon.checked" (click)="selectPlace([salon.longitude,salon.latitude],$index)"
            value="bold">Wybierz
          </mat-button-toggle>
        </mat-list-item>
        }
      </mat-list>
    </mat-button-toggle-group>

    <div class="example-button-row">
      <button [disabled]="checkedPlace===''" [routerLink]="'/place/'+checkedPlace" mat-stroked-button>Umów się w
        lokalu</button>
    </div>

  </div>

</div>
