#body {
    display: inline-flex;
    padding: 1rem;
    /* background-color: black;
    color: white; */
}

#map {
    height: 55vh;
    width: 55vw;
}

#locals {
    padding: 1rem;
    width: 40vw;
}

#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 5000;
}


.scrollable-list {
    max-height: 400px;
    overflow-y: auto;
}

.rating_container {
    margin-top: 5px;
    display: flex;
    height: 100%;
}