<div id="body">
  <div id="history">
    <mat-tab-group>
      <mat-tab label="Przyszłe wizyty">
        <mat-list>
          @for (visit of visits; track $index) {
          @if (isFutureTime(visit.visitDate,visit.visitStartTime) && visit.visitStatus == "RESERVED") {
          <mat-list-item class="list_item">
            @let emp = employeeMap.get(visit.employeeID);
            @let salon = salonMap.get(visit.salonID);
            @let services = visitServiceMap.get(visit.visitID);
            <span matListItemTitle>
              <mat-icon fontIcon="event"></mat-icon>{{visit.visitDate}} {{visit.visitStartTime}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="location_on"></mat-icon> {{salon?.salonName}} {{salon?.salonCity}}
              {{salon?.salonStreet}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="person"></mat-icon> {{emp?.employeeName}}
              {{emp?.employeeSurname}}
              {{emp?.employeeDialNumber}}
              {{emp?.employeeEmail}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="credit_card"></mat-icon>
              {{serviceService.calculateServicesPrice(services) | currency: "PLN"}}
              <mat-icon fontIcon="schedule"></mat-icon>{{serviceService.calculateServicesTime(services)}} minut
            </span>

            <span matListItemLine>
              @for (serviceID of services; track $index) {
              <div>{{serviceMap.get(serviceID)?.serviceName}} </div>
              }
            </span>
            <div matListItemLine>
              <button (click)="openDetailsDialog(visit.employeeID,visit.visitID, visit.salonID)"
                mat-flat-button>Lokalizacja</button>
              <button (click)="openRescheduleDialog(visit.visitID,true)" mat-flat-button>Przełóż wizytę</button>
              <button (click)="cancelVisit(visit.visitID)" mat-flat-button>Anuluj wizytę</button>
              <!-- <button (click)="openRatingDialog(visit.employeeID,visit.visitID, visit.salonID)"
                mat-button>Oceń</button> -->
              @if (ratingMap.has(visit.visitID)) {

              <span>Ocenione {{ratingMap.get(visit.visitID)?.ratingValue}}</span>
              }

            </div>

          </mat-list-item>
          <mat-divider></mat-divider>

          }
          }
        </mat-list>
      </mat-tab>
      <mat-tab label="Przeszłe wizyty">
        <mat-list>
          @for (visit of visits; track $index) {
          @if (!isFutureTime(visit.visitDate,visit.visitStartTime)) {
          <mat-list-item class="list_item">
            @let emp = employeeMap.get(visit.employeeID);
            @let salon = salonMap.get(visit.salonID);
            @let services = visitServiceMap.get(visit.visitID);
            <span matListItemTitle>
              <mat-icon fontIcon="event"></mat-icon>{{visit.visitDate}} {{visit.visitStartTime}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="location_on"></mat-icon> {{salon?.salonName}} {{salon?.salonCity}}
              {{salon?.salonStreet}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="person"></mat-icon> {{emp?.employeeName}}
              {{emp?.employeeSurname}}
              {{emp?.employeeDialNumber}}
              {{emp?.employeeEmail}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="credit_card"></mat-icon>
              {{serviceService.calculateServicesPrice(services) | currency: "PLN"}}
              <mat-icon fontIcon="schedule"></mat-icon>{{serviceService.calculateServicesTime(services)}} minut
            </span>
            @if (ratingMap.has(visit.visitID)) {
            <span matListItemLine>
              <mat-icon style="color: gold;" fontIcon="star"></mat-icon> {{ratingMap.get(visit.visitID)?.ratingValue}}
            </span>
            }
            <div matListItemLine>
              @if (!ratingMap.has(visit.visitID)) {
              <button (click)="openRatingDialog(visit.employeeID,visit.visitID, visit.salonID)"
                mat-flat-button>Oceń</button>
              }
              <button (click)="openDetailsDialog(visit.employeeID,visit.visitID, visit.salonID)"
                mat-flat-button>Lokalizacja</button>
              <button (click)="openRescheduleDialog(visit.visitID,false)" mat-flat-button>Umów ponownie</button>


            </div>

          </mat-list-item>
          <mat-divider></mat-divider>

          }
          }
        </mat-list>
      </mat-tab>
      <mat-tab label="Anulowane wizyty">
        <mat-list>
          @for (visit of visits; track $index) {
          @if (visit.visitStatus == "CANCELLED_CUSTOMER" || visit.visitStatus == "CANCELLED_EMPLOYEE") {
          <mat-list-item class="list_item">
            @let emp = employeeMap.get(visit.employeeID);
            @let salon = salonMap.get(visit.salonID);
            @let services = visitServiceMap.get(visit.visitID);
            <span matListItemTitle>
              <mat-icon fontIcon="event"></mat-icon>{{visit.visitDate}} {{visit.visitStartTime}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="location_on"></mat-icon> {{salon?.salonName}} {{salon?.salonCity}}
              {{salon?.salonStreet}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="person"></mat-icon> {{emp?.employeeName}}
              {{emp?.employeeSurname}}
              {{emp?.employeeDialNumber}}
              {{emp?.employeeEmail}}
            </span>
            <span matListItemLine>
              <mat-icon fontIcon="credit_card"></mat-icon>
              {{serviceService.calculateServicesPrice(services) | currency: "PLN"}}
              <mat-icon fontIcon="schedule"></mat-icon>{{serviceService.calculateServicesTime(services)}} minut
            </span>
            <div matListItemLine>
              <button (click)="openDetailsDialog(visit.employeeID,visit.visitID, visit.salonID)"
                mat-flat-button>Lokalizacja</button>
              <button (click)="openRescheduleDialog(visit.visitID,false)" mat-flat-button>Umów ponownie</button>

            </div>

          </mat-list-item>
          <mat-divider></mat-divider>

          }
          }
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
