
<div id="background">
    <div id="form">
      <form [formGroup]="change_passwordForm" (ngSubmit)="onSubmit()">
        <h3>Zmień hasło</h3>
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Stare hasło</mat-label>
              <input type="password" formControlName="old_password" matInput>
              <mat-error *ngIf="change_passwordForm.get('password')?.invalid">{{errorMessage(change_passwordForm.get('password')?.errors,'Hasło')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Powtórz stare hasło</mat-label>
                <input type="password" formControlName="old_password_repeat" matInput>
                <mat-error *ngIf="change_passwordForm.get('password')?.invalid">{{errorMessage(change_passwordForm.get('password')?.errors,'Hasło')}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Stare hasło</mat-label>
                <input type="password" formControlName="new_password" matInput>
                <mat-error *ngIf="change_passwordForm.get('password')?.invalid">{{errorMessage(change_passwordForm.get('password')?.errors,'Hasło')}}</mat-error>
              </mat-form-field>
          </p>
          <div class="example-button-row">
            <button mat-stroked-button>Wyślij</button>
          </div>
        
        </form>

    </div>
  
  </div>
  
  