<div id="background">
  <div id="form">
    <form [formGroup]="change_passwordForm" (ngSubmit)="onSubmit()">
      <h3>Zmień hasło</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nowe hasło</mat-label>
          <input type="password" formControlName="new_password" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Powtórz nowe hasło</mat-label>
          <input type="password" formControlName="new_password_repeat" matInput>
        </mat-form-field>
      </p>
      <div class="example-button-row">
        <button mat-flat-button>Wyślij</button>
      </div>

    </form>

  </div>

</div>
