<form [formGroup]="timeslotsService.timeslotsFormGroup">
  <mat-form-field>
    <mat-label>Wybierz dzień</mat-label>
    <input formControlName="day" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" matInput
      [matDatepicker]="picker" (dateChange)="enableTimeSlots()">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <ng-template matStepLabel>Wybierz godzinę wizyty</ng-template>

  <mat-list class="scrollable-list">
    @for (timeSlot of timeslotsService.timeSlots; track $index) {
    <div class="time-slot" [ngClass]="{
      'hovered': hoveredIndex !== null && $index >= hoveredIndex && $index < hoveredIndex + visitTime,
      'disabled': timeSlot[2] === true
    }" (mouseenter)="onMouseEnter($index)" (mouseleave)="onMouseLeave()" (click)="selectTimeSlots($index)">
      @if(timeSlot[1]==0){
      {{timeSlot[0]}}:00
      }@else{
      {{timeSlot[0]}}:{{timeSlot[1]}}
      }
      <input class="invisible" type="checkbox" [checked]="timeSlot[3]">
    </div>
    }
  </mat-list>

  <div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Zamknij</button>
      @if (data.bool) {
      <button mat-flat-button matStepperPrevious (click)="rescheduleVisit()">Przełóż wizytę</button>
      }@else {
      <button mat-flat-button matStepperPrevious (click)="remakeAppointment()">Umów ponownie</button>
      }
    </mat-dialog-actions>




  </div>
</form>
