body {
    background-color: var(--background);
}

.scrollable-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-height: calc(13 * 50px);
    overflow-y: auto;
    padding: 10px;
    border: none;
    background-color: var(--gray-background);
    border-radius: 8px;
}

.time-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--gray-background);
    border: 1px solid var(--background);
    border-radius: 8px;
    color: var(--color);
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--hover-background);
        /* Yellow highlight on hover */
        color: var(--background);
        /* Black text on hover */
        transform: scale(1.04);
        /* Slightly enlarge */
    }
}

.hovered {
    background-color: var(--hover-background);
    /* Yellow highlight on hover */
    color: var(--background);
    /* Black text on hover */
    transform: scale(1.04);
    /* Slightly enlarge */
}

.disabled {
    background-color: var(--disabled-background);
    /* Disabled gray color */
    color: var(--disabled-color);
    /* Subtle gray text */
    pointer-events: none;
    opacity: 0.5;
    /* Make disabled slots less visible */
}

.invisible {
    visibility: hidden;
}

.time-slot:has(input:checked) {
    background-color: var(--hover-background);
    border: 2px solid var(--hover-border);
    color: var(--background);
}



button {
    font-size: 14px;
    font-weight: bold;
}

button[mat-button] {
    color: var(--primary);
    /* Yellow for regular buttons */
}

button[mat-flat-button] {
    background-color: var(--primary);
    color: var(--background);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--hover-border);
    }
}

.datePicker {
    margin-top: 15px;
    margin-left: 10px;
}