
<div id="background">
  <div id="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h3>Zaloguj się</h3>
      <p id="user_toggle">
        <mat-button-toggle-group formControlName="user_type" aria-label="Font Style" value="user">
          <mat-button-toggle checked value="user">Klient</mat-button-toggle>
          <mat-button-toggle value="worker">Pracownik</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
          <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input formControlName="login" matInput>
            <mat-error *ngIf="loginForm.get('login')?.invalid">{{errorMessage(loginForm.get('login')?.errors,'Login')}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input formControlName="password" type="password" matInput>
              <mat-error *ngIf="loginForm.get('password')?.invalid">{{errorMessage(loginForm.get('password')?.errors,'Hasło')}}</mat-error>
          </mat-form-field>
        </p>
        
        <div class="example-button-row">
          <button mat-stroked-button>Login</button>
        </div>
      
      </form>

      <div id="forgotten_password">
        <a [routerLink]="'/forgotten_password'">Zapomniałeś hasła?</a>
      </div>

  </div>
{{loginForm.value | json}}

</div>

