.example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar{
    background-color:black;
    height: 7vh;
  }
  mat-button-toggle{
    background-color: steelblue;
  }

  .navBarBtn{
    --mdc-text-button-label-text-color: red;
  }

  .mat-button{
    color: white !important;
  }
