@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carattere&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Carattere';
  src: url('/assets/fonts/Carattere-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSeriflDisplay';
  src: url('/assets/fonts/NotoSeriflDisplay-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.example-spacer {
  flex: 1 1 auto;
}



mat-toolbar {
  background-color: black;
  height: 7vh;
}

mat-button-toggle {
  background-color: steelblue;
}

.navBarBtn {
  --mdc-text-button-label-text-color: red;
}

.mat-button {
  color: white !important;
}

#nav_buttons {

  text-align: center;
}

#nav_buttons span {
  text-align: center;
  color: goldenrod;
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  font-size: 30px;
  padding: 2rem;
}


#logo_icon {
  width: 50px;
  height: 50px;
}

#logo_name {
  width: 250px;
}

.nav_button {
  padding-bottom: 0;
  height: 50%;
}

.nav_button:hover {
  cursor: pointer;
}

.menu {
  z-index: 5000;
}