<mat-toolbar>
  <img id="logo_icon" src="/assets/logo_icon.png" alt="">
  <img id="logo_name" src="/assets/logo_name.png" alt="">


  <!-- <section id="nav_buttons">
  <button [routerLink]="'/'" mat-raised-button>Strona główna</button>
  <button *ngIf="!isAuthenticated" [routerLink]="'/login'" mat-raised-button>Zaloguj się</button>
  <button *ngIf="!isAuthenticated" [routerLink]="'/register'" mat-raised-button>Załóż konto</button>
  <button *ngIf="isAuthenticated" [routerLink]="'/history'" mat-raised-button>Historia wizyt</button>
  <button *ngIf="isAuthenticated" [routerLink]="'/profile'" mat-raised-button>Twój profil</button>
  <button [routerLink]="'/contact'" mat-raised-button>Kontakt</button>
  </section> -->

  <section class="example-spacer" id="nav_buttons">
    <span [routerLink]="'/'">Strona główna</span>
    <span *ngIf="!isAuthenticated" [routerLink]="'/login'" mat-raised-button>Zaloguj się</span>
    <span *ngIf="!isAuthenticated" [routerLink]="'/register'" mat-raised-button>Załóż konto</span>
    <span *ngIf="isAuthenticated" [routerLink]="'/history'" mat-raised-button>Historia wizyt</span>
    <!-- <span *ngIf="isAuthenticated" [routerLink]="'/profile'" mat-raised-button>Twój profil</span> -->
    <span [routerLink]="'/contact'" mat-raised-button>Kontakt</span>
  </section>




<button *ngIf="isAuthenticated"  [matMenuTriggerFor]="menu">{{username}}</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/change_password'">Zmień hasło</button>
  <button mat-menu-item (click)="logout()" >Wyloguj się</button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>