<!-- employee-dialog.component.html -->
<h1 class="center" mat-dialog-title>{{ isEdit ? 'Edytuj' : 'Dodaj' }} Pracownika</h1>

<div mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Imie</mat-label>
          <input matInput formControlName="employeeName" required />
          <mat-error>Imie jest wymagane</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="employeeSurname" required />
          <mat-error>Nazwisko jest wymagane</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Numer telefonu</mat-label>
          <input matInput formControlName="employeeDialNumber" required />
          <mat-error>Numer telefonu jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="employeeEmail" required />
          <mat-error>Email jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="encryptedEmployeePassword" required />
          <mat-error>Hasło jest wymagane</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Data urodzenia</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="employeeBirthdayDate" required />
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Data urodzenia jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Data zatrudnienia</mat-label>
          <input matInput [matDatepicker]="employmentDatePicker" formControlName="employeeEmploymentDate" required />
          <mat-datepicker #employmentDatePicker></mat-datepicker>
          <mat-error>Data zatrudnienia jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Pensja</mat-label>
          <input matInput formControlName="employeeMonthlyPay" type="number" required />
          <mat-error>Pensja jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Miasto</mat-label>
          <input matInput formControlName="employeeCity" required />
          <mat-error>Miasto jest wymagane</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Ulica</mat-label>
          <input matInput formControlName="employeeStreet" required />
          <mat-error>Ulica jest wymagana</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Numer budynku</mat-label>
          <input matInput formControlName="employeeBuildingNumber" required />
          <mat-error>Numer budynku jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Numer mieszkania</mat-label>
          <input matInput formControlName="employeeApartmentNumber" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Kod pocztowy</mat-label>
          <input matInput formControlName="employeePostalCode" required />
          <mat-error>Kod pocztowy jest wymagany</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div class="center" mat-dialog-actions>
  <button mat-flat-button (click)="onNoClick()">Anuluj</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="employeeForm.invalid">Zapisz</button>
</div>
