<h2 mat-dialog-title>Edytuj</h2>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- Numer telefonu: {{data.phone_number}} -->
    <mat-form-field class="example-form-field">
      <mat-label>Miasto</mat-label>
      <input formControlName="city" matInput type="text" [placeholder]="data.salonCity">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-form-field">
      <mat-label>Ulica</mat-label>
      <input formControlName="street" matInput type="text" [placeholder]="data.salonStreet">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field class="example-form-field">
      <mat-label>Kod pocztowy</mat-label>
      <input formControlName="zipCode" matInput type="text" [placeholder]="data.salonPostalCode">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Zamknij</button>
    <button mat-stroked-button mat-dialog-close>Edytuj</button>
  </mat-dialog-actions>

</form>
