/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carattere&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary: #EFBF04;
$background: #121212;
$gray_background: #222222;
$hover_background: #ffc107;
$hover_border: #e6b800;
$color: white;
$disabled_background: #444444;
$disabled_color: #888888;

:root {
  --primary: #{$primary};
  --background: #{$background};
  --gray-background: #{$gray_background};
  --hover-background: #{$hover_background};
  --hover-border: #{$hover_border};
  --color: #{$color};
  --disabled-background: #{$disabled_background};
  --disabled-color: #{$disabled_color};
}



html,
body {
    height: 100%;
}


* {
    font-family: "Open Sans", serif;
}

body {
    margin: 0;
}


.error_snack div {
    background: #F44336 !important;
    color: white !important;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
}

h1{
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
    visibility:hidden;
}

::-webkit-scrollbar-thumb {
    background: black;
    visibility:hidden;
    border-radius: 10px;
}

mat-icon{
    vertical-align: middle
}