@use '@angular/material' as mat;

@include mat.core();


$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: 0
  )
));

$test_theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),

));



$primary: #EFBF04;
$background: #121212;
$gray_background: #222222;
$hover_background: #ffc107;
$hover_border: #e6b800;
$color: white;
$disabled_background: #444444;
$disabled_color: #888888;

:root {
  @include mat.form-field-overrides((
    focus-active-indicator-color: white,
    focus-outline-color: $primary,
    focus-label-text-color: $primary,
    label-text-color: white,
    input-text-color: $primary,
    select-option-text-color: $primary,
    input-text-placeholder-color: white,
    hover-label-text-color: white,
    hover-active-indicator-color: $primary,
    hover-outline-color: white 
  ));

  @include mat.button-overrides((
    container-color: $primary,
    label-text-color: black,

  ));

  @include mat.button-toggle-overrides((
    background-color: $gray_background,
    selected-state-background-color: $primary,
    selected-state-text-color: black,
    text-color: white
  ));



  @include mat.progress-spinner-overrides((
    active-indicator-color:$primary,
  ));


  @include mat.dialog-overrides((
    container-color: $background,
    subhead-color: $primary,
    supporting-text-color: $color
  ));

  @include mat.tabs-overrides((
    active-indicator-color: $primary,
    active-focus-indicator-color: $primary,
    active-label-text-color: $color,
    inactive-label-text-color: $color,
    inactive-hover-label-text-color: $color,
    active-focus-label-text-color: $color
  ));

  @include mat.stepper-overrides((
    container-color: $background
  ));

  @include mat.expansion-overrides((
    container-background-color: $background,
    header-text-color: $color
  ));


  @include mat.list-overrides((
    list-item-container-color: $background,
    list-item-label-text-color: $color,
    list-item-supporting-text-color: $color,
    list-item-hover-label-text-color: $color
  ));

  @include mat.card-overrides((
    subtitle-text-color: $color,
  ));


  @include mat.datepicker-overrides((
    calendar-container-text-color: $color,
    calendar-date-text-color: $color,
    calendar-container-background-color: $background,
    calendar-date-disabled-state-text-color: $gray_background,
    calendar-date-selected-state-background-color: $hover_background,
    calendar-date-selected-state-text-color: black,
    calendar-date-hover-state-background-color: $primary,
    calendar-date-today-selected-state-outline-color: $gray_background,
  ));

  @include mat.menu-overrides((
    item-label-text-color: $primary,
    container-color: $background,
    divider-color: $gray_background
  ));



  // NOT WORKING


  // @include mat.stepper-overrides((
  //   header-icon-foreground-color: black,
  //   header-icon-background-color: $secondary,
  //   header-edit-state-icon-background-color: $primary,
  //   header-edit-state-icon-foreground-color: $primary,
  //   header-selected-state-icon-background-color: $primary,
  //   header-selected-state-icon-foreground-color: $primary,
    
  //   header-done-state-icon-foreground-color: $primary,
  //   header-error-state-icon-foreground-color: red
  // ));

  //   @include mat.radio-overrides((
  //   ripple-color: orange,
  //   selected-icon-color: red,
  //   unselected-icon-color: orange,
  //   disabled-selected-icon-color: red,
  //   selected-pressed-icon-color: red
  // ));

}


// html {
//     // Apply the light theme by default
//     // @include mat.all-component-themes($theme);
//     @include mat.button-theme($theme);
//     // @include mat.strong-focus-indicators-theme($test_theme);





//   }



