<div class="dialog-container">
  <div class="header">
    <h2>{{ customer.customerName }} {{ customer.customerSurname }}</h2>
  </div>

  <div class="content">
    <div class="account-info">
      <p>Email: <span>{{ customer.customerEmail }}</span></p>
      <p>Numer telefonu: <span>{{ customer.customerDialNumber }}</span></p>
    </div>
  </div>

  <hr />

  <div class="stamps-section">
    <h3>Twoje pieczątki</h3>
    <div class="stamps">
      <ng-container>
        @for (badge of getStampsArray(); track $index) {
        @if (badge) {
        <mat-icon class="filled-badge" [ngClass]="{ 'row-break': isRowBreak($index) }">star</mat-icon>
        }@else {
        <mat-icon class="empty-badge" [ngClass]="{ 'row-break': isRowBreak($index) }">star_outline</mat-icon>
        }

        }
      </ng-container>
    </div>
    <p>Zbierz jeszcze {{ 10 - (numberOfVisits % 10) }} pieczątek do darmowej wizyty!</p>
  </div>

</div>
