<h1 mat-dialog-title>User Information</h1>
<div mat-dialog-content>
  @if (customer) {
  <p><strong>Name:</strong> {{ customer.customerName }} {{customer.customerSurname}}</p>
  <p><strong>Email:</strong> {{ customer.customerEmail }}</p>
  <p><strong>Number of Visits:</strong> {{ numberOfVisits }}</p>
  <p><strong>Badges:</strong> {{ getNumberOfBadges() }}</p>
  }@else {
  <mat-spinner></mat-spinner>
  }

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
