<div class="mat-elevation-z8">
  <table mat-table [dataSource]="salons" class="mat-table" matSort>

    <ng-container matColumnDef="salonName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Salon Name </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonName}} </td>
    </ng-container>

    <ng-container matColumnDef="salonDialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dial Number </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonDialNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="salonCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonCity}} </td>
    </ng-container>

    <ng-container matColumnDef="salonStreet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonStreet}} </td>
    </ng-container>

    <ng-container matColumnDef="salonBuildingNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Building No. </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonBuildingNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="salonPostalCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Postal Code </th>
      <td mat-cell *matCellDef="let salon"> {{salon.salonPostalCode}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedSalonColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSalonColumns;"></tr>
  </table>
</div>
